nodeRed/flows.json
[
    {
        "id": "adf3aa2c4190453d",
        "type": "tab",
        "label": "API Reservas",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a2dc7c1c2a0d49d3",
        "type": "http in",
        "z": "adf3aa2c4190453d",
        "name": "GET /reservas",
        "url": "/reservas",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "152e30f414099565"
            ]
        ]
    },
    {
        "id": "152e30f414099565",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "Buscar Reservas",
        "func": "msg.payload = global.get(\"reservas\") || [];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "0e28dada65f0c86c"
            ]
        ]
    },
    {
        "id": "0e28dada65f0c86c",
        "type": "http response",
        "z": "adf3aa2c4190453d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "504026b93bde8a49",
        "type": "http in",
        "z": "adf3aa2c4190453d",
        "name": "POST /reservas",
        "url": "/reservas",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "dd3410b4101b541d"
            ]
        ]
    },
    {
        "id": "dd3410b4101b541d",
        "type": "json",
        "z": "adf3aa2c4190453d",
        "name": "Converter JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "665ad03cc8ba9a9d"
            ]
        ]
    },
    {
        "id": "14205e4f270c6ec3",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "function 3",
        "func": "const r = msg.payload;\nmsg.topic = `INSERT INTO reservas\n  (nome, email, data_checkin, data_checkout, quarto)\n  VALUES ('${r.nome}', '${r.email}', '${r.data_checkin}', '${r.data_checkout}', '${r.quarto}')`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "1fb5df3f0aa1295c"
            ]
        ]
    },
    {
        "id": "38906bb23420eacc",
        "type": "http in",
        "z": "adf3aa2c4190453d",
        "name": "Adicionar_Banco",
        "url": "http://10.110.12.68:1880",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "14205e4f270c6ec3",
                "7f9de9fbc1898ee5"
            ]
        ]
    },
    {
        "id": "7f9de9fbc1898ee5",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "function 4",
        "func": "msg.headers = {\n  'Access-Control-Allow-Origin': '*',\n  'Access-Control-Allow-Methods': 'GET, POST, OPTIONS',\n  'Access-Control-Allow-Headers': 'Content-Type',\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 500,
        "wires": [
            [
                "321abb4cd5826f22"
            ]
        ]
    },
    {
        "id": "a0712c8993f7c76d",
        "type": "http in",
        "z": "adf3aa2c4190453d",
        "name": "POST /login",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "f082ae359053de37"
            ]
        ]
    },
    {
        "id": "f082ae359053de37",
        "type": "json",
        "z": "adf3aa2c4190453d",
        "name": "Converter JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "d1caddb867b280c2"
            ]
        ]
    },
    {
        "id": "d1caddb867b280c2",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "Preparar consulta login",
        "func": "const email = msg.payload.email.trim().toLowerCase();\nconst senha = msg.payload.senha.trim();  // não altere senha para lowercase!\n\nmsg.topic = \"SELECT * FROM cadastro WHERE email = ? AND senha = ?\";\nmsg.payload = [email, senha];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 180,
        "wires": [
            [
                "01e1e04c1addbef7"
            ]
        ]
    },
    {
        "id": "27611bbc4f193d65",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "Formatar resposta login",
        "func": " if (msg.payload.length > 0) {\n     msg.payload = { sucesso: true, usuario: msg.payload[0] };\n } else {\n     msg.payload = { sucesso: false, erro: \"Usuário ou senha inválidos\" };\n }\n return msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 180,
        "wires": [
            [
                "75a0c7aa797abc3c",
                "df7390edf44129a7"
            ]
        ]
    },
    {
        "id": "75a0c7aa797abc3c",
        "type": "http response",
        "z": "adf3aa2c4190453d",
        "name": "Retorno HTTP",
        "statusCode": "",
        "headers": {},
        "x": 1160,
        "y": 180,
        "wires": []
    },
    {
        "id": "44c3b8ccd16ae6ad",
        "type": "http in",
        "z": "adf3aa2c4190453d",
        "name": "POST /cadastro",
        "url": "/cadastro",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "5247f22b57a5c48c"
            ]
        ]
    },
    {
        "id": "5247f22b57a5c48c",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "Preparar dados",
        "func": "node.warn(\"📦 Dados recebidos para cadastro:\");\nnode.warn(msg.payload);\n\nmsg.topic = \"INSERT INTO cadastro (nome, email, senha) VALUES (?, ?, ?)\";\nmsg.payload = [\n    msg.payload.nome,\n    msg.payload.email,\n    msg.payload.senha\n];\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "25743fbff661e235"
            ]
        ]
    },
    {
        "id": "df7390edf44129a7",
        "type": "debug",
        "z": "adf3aa2c4190453d",
        "name": "debug/Login",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "665ad03cc8ba9a9d",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "Salvar Dados",
        "func": "msg.origReserva = msg.payload; \nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 300,
        "wires": [
            [
                "e854b1a00d29ead5"
            ]
        ]
    },
    {
        "id": "e854b1a00d29ead5",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "id_cadastro",
        "func": "// Garante que msg.origReserva seja preservado se ainda não foi\nif (!msg.origReserva && msg.payload.origReserva) {\n    msg.origReserva = msg.payload.origReserva;\n}\n\n// Pega o email da reserva original\nconst email = (msg.origReserva.email || \"\").trim().toLowerCase();\n\nmsg.topic = \"SELECT id FROM cadastro WHERE LOWER(email) = ?\";\nmsg.payload = [email];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 300,
        "wires": [
            [
                "1fb5df3f0aa1295c"
            ]
        ]
    },
    {
        "id": "374a4dc23ca45904",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "Verifica resposta",
        "func": "if (msg.payload.length > 0) {\n    const idCad = msg.payload[0].id; // Obter o id_cadastro\n    flow.set('id_cadastro', idCad); // Salvar o id_cadastro para usar depois\n\n    // Garante que origReserva continue existindo\n    msg.origReserva = msg.origReserva || {};\n\n    return msg;\n} else {\n    msg.payload = { status: \"erro\", mensagem: \"E-mail não encontrado\" };\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 420,
        "wires": [
            [
                "fe2960f8de2b8fac"
            ]
        ]
    },
    {
        "id": "fe2960f8de2b8fac",
        "type": "function",
        "z": "adf3aa2c4190453d",
        "name": "Inserir tabela",
        "func": "const idCad = msg.payload[0].id;\nconst dados = msg.origReserva;\n\nmsg.topic = \"INSERT INTO reservas (id_cadastro, nome, email, data_checkin, data_checkout, quarto) VALUES (?, ?, ?, ?, ?, ?)\";\nmsg.payload = [\n  idCad,\n  dados.nome,\n  dados.email,\n  dados.data_checkin,\n  dados.data_checkout,\n  dados.quarto\n];\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 420,
        "wires": [
            [
                "afbb8d75a89ca9e2"
            ]
        ]
    },
    {
        "id": "1fb5df3f0aa1295c",
        "type": "mysql",
        "z": "adf3aa2c4190453d",
        "mydb": "2aee678e613109ec",
        "name": "pousada",
        "x": 620,
        "y": 420,
        "wires": [
            [
                "374a4dc23ca45904"
            ]
        ]
    },
    {
        "id": "afbb8d75a89ca9e2",
        "type": "mysql",
        "z": "adf3aa2c4190453d",
        "mydb": "2aee678e613109ec",
        "name": "pousada",
        "x": 1120,
        "y": 420,
        "wires": [
            [
                "369e570963c13fbd"
            ]
        ]
    },
    {
        "id": "01e1e04c1addbef7",
        "type": "mysql",
        "z": "adf3aa2c4190453d",
        "mydb": "2aee678e613109ec",
        "name": "Banco/Login",
        "x": 730,
        "y": 180,
        "wires": [
            [
                "27611bbc4f193d65"
            ]
        ]
    },
    {
        "id": "67658b864077bbb6",
        "type": "http response",
        "z": "adf3aa2c4190453d",
        "name": "Retorno HTTP",
        "statusCode": "",
        "headers": {},
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "25743fbff661e235",
        "type": "mysql",
        "z": "adf3aa2c4190453d",
        "mydb": "2aee678e613109ec",
        "name": "Banco/cadastro",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "67658b864077bbb6"
            ]
        ]
    },
    {
        "id": "369e570963c13fbd",
        "type": "http response",
        "z": "adf3aa2c4190453d",
        "name": "retorno",
        "statusCode": "",
        "headers": {},
        "x": 1260,
        "y": 420,
        "wires": []
    },
    {
        "id": "321abb4cd5826f22",
        "type": "http response",
        "z": "adf3aa2c4190453d",
        "name": "retorno",
        "statusCode": "",
        "headers": {},
        "x": 600,
        "y": 500,
        "wires": []
    },
    {
        "id": "2aee678e613109ec",
        "type": "MySQLdatabase",
        "name": "database",
        "host": "mysql",
        "port": "3306",
        "db": "pousada",
        "tz": "",
        "charset": "UTF8"
    }
]